*~
.idea
.gitignore.save
.ipynb_checkpoints
1.intro-to-python/.ipynb_checkpoints/
2.lfsr/.ipynb_checkpoints/
2.lfsr/__pycache__/
2.lfsr/lfsr.py
2.lfsr/bitstring.py
3.stream-cipher/.ipynb_checkpoints/
3.stream-cipher/__pycache__/
3.stream-cipher/A5-1/
3.stream-cipher/streamcipher.py
3.stream-cipher/bitstring.py
4.block-cipher/
work-in-progress/
stuff/
